body {
    padding:0px;
}

.header{
    height:112px;

}

.logo_img{
    padding: 22px 0;
}

.nav_1, .search{
    padding: 31px 0;
}

.nav_1 ul{
    list-style-type:none;
    text-align: center;
}

.nav_1 ul li{
    float:left;
}

.nav_1 ul li ul li{
    float: none;
}

.nav_1 li a{
    color:#808080;
    font-weight: bold;
}

.nav_1 li a:hover{
    color:#ffffff;
    background-color:#e89e2c;
}

.nav_1 .tb{
    border-top: 4px solid #808080;
}

/*幻灯片*/
.carousel-control.right, .carousel-control.left{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 100%);
}

.carousel-caption{
    padding-bottom: 100px;
}

/*底部1*/
.img-col{
    padding:0;
}
.img-container img{
    width:100%;
    height:100%;
}
.col2{
    height:50%;
}

/*底部2*/
.footer_css hr{
    border-top:1px solid #313131;
}
.footer_css{
    background:#222222;
    color:#ffffff;
    padding:40px;
}

.title{
    padding-bottom:25px;
}
.link{
    padding:5px;
}
.link a{
    color:#ffffff;
}