
@{
    ViewBag.Title = "Faculties";
}

<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-lg-10">
            <div style="color:#e49a24">
                <h2>院系设置</h2>
            </div>
            <hr />
            <div class="text-center">
                <img src="~/Content/img/yx1.jpg" />
            </div>
        </div>        
    </div>
</div>

