
@{
    ViewBag.Title = "Introduce";
}

<div class="container">
    
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-md-10">
            <div class="text-center">
                <h2>桂林大学学校简介</h2>
            </div>
            <hr />
            <div style="text-indent:2em;">
                <p>桂林大学座落在世界著名的风景游览城市和中国历史文化名城——广西壮族自治区桂林市，是工业和信息化部与广西壮族自治区共建高校、国家“中西部高校基础能力建设工程”入选高校、广西壮族自治区重点建设高校。中国绕月探测工程总设计师、国家最高科学技术奖获得者、中国科学院孙家栋院士为学校名誉校长。</p>
                <p>学校始建于1960年，1980年经国务院批准成立桂林学院，2006年更名为桂林大学。学校先后隶属于第四机械工业部、电子工业部、机械电子工业部、中国电子工业总公司、信息产业部。2000年管理体制转为中央与地方共建、以地方管理为主。1990年，时任中共中央总书记江泽民同志亲临学校视察，并为学校亲笔题词“为发展电子工业培养更多的合格人才”。</p>
                <p>办学条件  学校现有金鸡岭校区、六合路校区、花江校区、北海校区（高职），分别位于桂林国家高新技术开发区、桂林市尧山风景区、北海市银海区，校园总面积4153亩。学校图书馆建筑面积4.5万余平方米。馆藏纸质图书186.4万册、电子图书150.8万种、高品质外文学术数据库32个、中文数据库42个、中外文期刊（含电子期刊）34997种。具有先进的网络信息平台和智慧校园平台。</p>
                <p>学科专业  学校开设有本科专业63个，其中，国家综合改革试点专业1个、国家级特色专业5个，通过工程教育认证专业1个；现有国家级精品课程3门、国家级双语教学示范课程1门、国家级精品资源共享课2门。学校获得“十一五”和“十二五”国家级规划教材9种。学校获得高等教育国家级教学成果奖4项。</p>
                <p>学校现有博士后科研流动站1个；一级学科博士学位授权点3个；一级学科硕士学位授权点11个、一级学科未覆盖的二级学科硕士学位授权点3个；工程、工商管理、会计、法律、翻译等5个硕士专业学位授权点，其中，工程硕士授权领域11个。</p>
                <p>师资队伍  学校现有教职工2600余人。教师队伍中有中组部“千人计划”人选1人、“长江学者”特聘教授1人、国家杰出青年基金获得者5人、国家百千万人才工程人选4人、全国杰出专业技术人才1人、全国优秀科技工作者2人、国务院特殊津贴专家36人、中科院“百人计划”人选4人、教育部“新世纪优秀人才支持计划”人选4人、广西“八桂学者”8人、广西优秀专家7人、广西特聘专家4人、广西教学名师10人等。教师中有教育部高等学校本科教学指导委员会副主任委员1人、委员5人。有国家级教学团队2个、自治区级教学团队10个；广西人才小高地3个、广西高校创新团队3个。</p>
                <p>人才培养  学校现有全日制在校学生36000余人。学校是教育部卓越工程师教育培养计划高校、国家大学生创新性实验计划实施高校、教育部大学英语教学改革示范点学校，学校是国防生培养单位、全军边防军人子女预科生培养单位。现有国家人才培养模式创新实验区1个、国家级实验教学示范中心5个、国家级工程实践教学中心2个、国家级大学生校外实践教育基地1个；全国首批大学生“小平科技创新团队”1个；全国学校共青团新媒体运营中心专业工作室支持单位1个；教育部大学生网络文化工作室1个。</p>
                <p>学校拥有全国首批大学生创新创业实践基地，学校大学生创新实践基地被共青团中央、全国青联命名为“全国青年科技创新示范基地”。学校被评为“2012-2014年度国家级创新创业训练计划实施工作先进单位”。学生在全国大学生电子设计竞赛、创新设计、数学建模等比赛中屡获佳绩，曾获全国大学生电子设计竞赛最高奖“索尼杯”。</p>
                <p>科学研究  学校承担了国家科技重大支撑计划项目、国家“973”重点项目、国家863计划重大项目、国家自然科学基金重点项目、国家自然科学基金重大仪器专项、国家自然科学基金面上项目、国家重点研发计划、国家社会科学基金特别委托项目等。近五年，新增国家级科研项目306项；发表SCI、EI收录论文2060篇，出版学术著作112部。学校长期从事国防科学研究，是总装备部通信装备预研项目定向发布的30所高校之一和北斗ICD授权的高校之一。承担了军队“973计划”、军工型号、先进武器装备、国防关键技术等国防军工科研项目。近五年，学校获得省部级科研成果奖励83项。</p>
                <p>桂林大学科技园于2014年获批为国家大学科技园，大学科技园众创空间获批为“国家级众创空间”。学校现有“国家软件与集成电路公共服务平台”广西平台1个；教育部重点实验室1个；广西重点实验室7个、广西2011协同创新中心及培育基地3个、广西工程技术研究中心6个；广西信息科学实验中心1个；广西人文社会科学研究基地3个。</p>
                <p>国际交流  学校和亚洲、欧洲、美洲、大洋洲与非洲的80余所大学和学术机构建立了良好的合作关系。学校每年选拔部分优秀学生赴境外高校学习深造、并长期招收来华留学生。学校是教育部“中国政府奖学金”和“广西政府东盟国家留学生奖学金”的接受培养单位，现有中法、中爱和中英等中外交流项目。  </p>
                <p>今天，桂林大学在“正德厚学 笃行致新”校训和“艰苦创业、自强不息”桂电精神的引领下，正朝着建设成为电子信息特色鲜明的国内高水平大学这一宏伟目标而努力奋斗。 </p>
            </div>            
        </div>
    </div>    
    <div style="height:70px"></div>
</div>

