
@{
    ViewBag.Title = "Students";
}

<div class="container">
    <div class="row text-center">
        <h2 style="color:#ffd800">学生园地</h2>
    </div>
    <div class="row" style="text-indent:2em;">
        <div class="col-md-4">
            <div class="thumbnail">            
                <img src="~/Content/img/student_005.jpg" />
                <div class="caption">
                    <h3>学生社团</h3>
                    <p>学生社团是同学根据兴趣爱好和发展需求自发推动形成的学生自组织，其产生和发展过程都紧密地结合了时代特点和同学的现实需求，是学校育人体系的重要组成部分。</p>
                    <p>发挥学生自主性，支持学生社团发展，提高社团水平，发挥社团优势，服务学生个性发展”。</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="~/Content/img/student_008.jpg" />
                <div class="caption">
                    <h3>公益服务</h3>
                    <p>“自我实践、服务他人，自我教育、推动社会”为宗旨，坚持立足校园、辐射社区、面向社会的原则，深入开展具有特色的大学生公益活动。</p>    
                    <p>全校共开展大型赛会、文化教育、绿色环保、关爱服务、社区服务、国际服务等6类志愿活动共计130项，其中74项由各院系自发组织。</p>                
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="~/Content/img/student_009.jpg" />
                <div class="caption">
                    <h3>体育活动</h3>
                    <p>每年各院系学生、教工、校友代表院系组队参赛，比赛项目涉及田径、团体球类、乒羽，以及棋类等各类别。</p>
                    <p>学校举办班级篮球赛与足球赛，组建各类赛事的体育俱乐部和爱好者协会，实行“阳光长跑”计划和大一行动计划体育专项等，号召同学们到户外进行体育锻炼，培养兴趣、养成习惯。</p>
                </div>
            </div>
        </div>        
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="~/Content/img/student_010.jpg" />
                <div class="caption">
                    <h3>文艺活动</h3>
                    <p>校内有着丰富多彩的文艺文化活动，丰富了学生课余生活，提高了同学们的艺术素养，激发了同学们对于美的追求。</p>
                    <p>校园歌手大赛是全校最受欢迎的文艺活动之一，一大批拥有音乐才华和梦想的清华学子走上舞台，诠释他们对于音乐的独特理解，用歌声传递正能量。</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="~/Content/img/student_002.jpg" />
                <div class="caption">
                    <h3>集体建设</h3>
                    <p>桂林大学有着深厚的集体主义文化，“班集体”“团支部”的概念深入每一位清华同学的心中，男生节、女生节等也是各个集体每年一度的盛事。</p>
                    <p>班级是同学的第一集体，同学们在这里探讨学习和集体生活中的问题，开展丰富多彩的素质拓展活动，营造互帮互助、共同进步的班级文化。</p>
                </div>
            </div>
        </div>
    </div>
    <div style="height:70px"></div>
</div>

