
@{
    ViewBag.Title = "Teachers";
}

<div class="container">    
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <img src="~/Content/img/ls.jpg" />
        </div>
        <div class="col-md-7">
            <div>
                <h2>师资队伍</h2>
                <hr />
            </div>
            <div style="text-indent:2em;">
                <p>学校现有教师1500余人（专任教师、外聘教师、其他师资），其中正高级职称教师280多人，博士学位教师360余人。专任教师中45岁以下教师占教师总数的76.5%，中青年教师成为教师中的主体；教师中具有博士、硕士学位的教师占专任教师总数的82.7%；高级职称教师占专任教师总数的比例为55%；教师中具有半年及以上出国访学、合作研究经历的教师占专任教师总数的19.4%，具有外校学缘的教师占专任教师总数的比例为72.9%。</p>
                <p>教师队伍中有“长江学者”特聘教授1人、国家杰出青年基金获得者5人、中组部“千人计划”人选1人、国家百千万人才工程人选4人、全国杰出专业技术人才1人、全国优秀科技工作者2人、国务院特殊津贴专家34人、中科院“百人计划”人选4人、教育部“新世纪优秀人才支持计划”人选4人、广西“八桂学者”8人、广西优秀专家7人、广西特聘专家4人、广西教学名师10人等。有国家级教学团队2个、自治区级教学团队10个；广西人才小高地4个、广西高校人才小高地6个。教师中有教育部高等学校本科教学指导委员会副主任委员1人、委员6人。中国绕月探测工程总设计师、国家最高科学技术奖获得者、中国科学院孙家栋院士为学校名誉校长。</p>
            </div>
        </div>
    </div>
    <div style="height:70px"></div>
</div>

